<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of {{ journey_details.name }}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <a href="{% url "accounts:logout" %}">خروج کاربر</a>
    {% else %}
        <a href="{% url "accounts:login" %}" }>ورود کاربر</a>
    {% endif %}
    <ul>
        <li> {{ journey_details.title }} </li>
        <li> {{ journey_details.city }} </li>
        <li> {{ journey_details.location }} </li>
        <li> {{ journey_details.country }} </li>
        <li> {{ journey_details.province }} </li>
    </ul>

</body>
</html>