<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of {{ book_details.name }}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <a href="{% url "accounts:logout" %}">خروج کاربر</a>
    {% else %}
        <a href="{% url "accounts:login" %}" }>ورود کاربر</a>
    {% endif %}
    <ul>
        <li> {{ theater_details.name }} </li>
        <li> {{ theater_details.director }} </li>
        <li> {{ theater_details.scriptwriter }} </li>
        <li> {{ theater_details.get_genre_display }} </li>
    </ul>

</body>
</html>